body {
    background: rgb(151, 151, 151);
    height: 1235px;
    width: 1300px;
    font-family: 'roboto', sans-serif;
}
header {
    height: 1000px;
    height: 120px;
    margin-bottom: 5em;
}

.container {
    height: 50px;
    width: 1340px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 

}

.container {
    padding-top: 50px ;
    
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
    width: 500px;
    border: 5px solid #000000 ;
    border-radius: 15px;
    border-width: 0vmax;
   }
   
.titulo {
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.986);
    font-weight: bold;
    text-align: center;
   }
       
.cabeçalho {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 1360px;
    margin: 0 10px ;
    
}

.cabeçalho {
    background: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20pt;
    text-align:center;
}
nav a:hover {
    color: #faeb14;
    }

nav li {
    list-style: none;
    font-weight: bold;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;  
    margin: 0 20px 0 10px;    
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(232, 231, 233);

}

/*  pag curriculo */

.curriculo {
    display: flex;
    justify-content: center;
    height: 840px;
    width: 110%;
    padding-top: 80px;
    margin-bottom: 20px;
    margin-left: 10rem;
    }


 /* pag contato    */
    


.links {
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.links {
    font-size: 15pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
}
